<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>FIGMA | Макеты для верстки — Верстка страницы</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Макет для верстки сайта был взял с телеграм канала FIGMA | Макеты для верстки">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

    <!-- Начало: Данный блок удалять нельзя -->
    <div class="maketforfigma">
        <a href="https://t.me/s/FigmaToHTML" target="_blank">
            <img src="img/logo.png">
        </a>
        <div>
            <p>
                Данная верстка, была реализована пользователем в рамках обучающего телеграм канал <a
                    href="https://t.me/s/FigmaToHTML" target="_blank">FIGMA | Макеты для верстки</a>
            </p>
            <p>
                При помощи <a href="https://t.me/HtmlCodeForMoney_bot?from_git" target="_blank">Telegram-бота</a>
                пользователь получил оплату за верстку этого макета.
            </p>
        </div>
    </div>
    <!-- Конец -->
    <div class="main">
        <!-- очередной кривой макет -->
        
        <div class="header">
            <div class="container">
                <div class="header__top top">
                    <a class="top__burger" href="#">
                        <img class="top__burger-img" src="img/header/burger.svg" alt="burger img">
                    </a>
                    <p class="top__text">
                        Free shipping on orders over $75
                    </p>
                    <div class="top__search-box box">
                        <a class="box__search" href="#">
                            <img class="box__search-img" src="img/header/search.svg" alt="search img">
                        </a>
                        <a class="box__search" href="#">
                            <img class="box__search-img" src="img/header/crystal.svg" alt="logo img">
                        </a>
                    </div>
                </div>
            </div>
            <div class="header__body">
                <div class="container">
                    <h1 class="header__body-title">
                        Tools <br>
                        for everyday <br>
                        magic.
                    </h1>
                    <button> shop <br> now
                    </button>
                </div>
            </div>
            <div class="header__bottom running-line">
                <p class="running-line__text">
                    Crystals.com Crystals.com Crystals.com
                    <span>Crystals.com</span>
                    Crystals.com Crystals.com
                    Crystals.com Crystals.com <span>Crystals.com</span>
                </p>
            </div>
        </div>
        <section class="description">
            <div class="container">
                <div class="description__inner">
                    <div class="description__item">
                        <p class="description__text">
                            The world’s finest crystals, ethically sourced and hand selected for their power to guide,
                            enhance and protect our everyday lives.
                        </p>
                        <a class="description__link" href="#">
                            Shop all
                        </a>
                    </div>
                    <div class="description__item-img">
                        <img class="description__img" src="img/descr.png" alt="description img">
                    </div>
                </div>
            </div>
        </section>

    </div>
    <script src="js/main.min.js"></script>
</body>

</html>