%basis-400 {
    font-family: 'BasisGrotesquePro-Regular', sans-serif;
    font-weight: 400;
}

%basis-500 {
    font-family: 'BasisGrotesquePro-Medium', sans-serif;
    font-weight: 500;
}

%roboto-400 {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}

%ogg-400 {
    font-family: 'Ogg-Regular', sans-serif;
    font-weight: 400;
    // шрифт не нашел
}